*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html{
    font-size: 62.5%;
    /* font-size: 10px; */
  }
  body{
    
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/banner.png) center center/cover no-repeat;
    color: #fff;
  }


  a{
    color: #fff;
    text-decoration: none;
  }
  .navLinks{
    font-size: 1.7rem ; /*16px */
    text-transform: uppercase;
  }
  li{
    list-style: none;
  }
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 60px; */
    padding: 25px 60px;
  }
  /* li{
    display: inline-block;
  } */
  ul{
    display: flex;
    gap: 30px;
  }
  .logo-ctn{
    width: 180px;
    /* border-style: solid;
    border-color: green;
    border-width: 1px; */
  }
  img{
    width: 100%;
  }
  .textCtn h2{
    font-size: 5rem;
  }
  .textCtn > p{
    font-size: 1.8rem;
  }
  .textCtn{
    height: 83.7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* text-align: center; */
  }
  .btn{
    font-size: 1.7rem;
    border: 1px solid #fff;
    cursor: pointer;
    padding: 1rem 2rem;
    /* z-index: -50; */
  }
  .btn:hover{
    background-color: navy;  
    border-color: white;
    border: none; 
     opacity: 1;
  }

